<!DOCTYPE html>

<html>
<head>
    <title>Game Page</title>
    <style>
        body {
            text-align: center; /* Center align text */
            height: 100vh; /* Full viewport height */
            margin: 0; /* Remove default margin */
        }

        img {
            width: 500px; /* Adjust image width */
            border: 2px solid black; /* Add border */
            margin: 0 auto; /* Center horizontally */
        }
    </style>
    </head>
    <body>
        <h1>You have 3 attempts to guess the location of the following image</h1> 
        
        <form action= "/feedback" method="post">
            <img src="{{ image_url }}" alt="Random Image">
            <br>
            <label for="guess">Enter your guess:</label>
            <input type="text" id="guess" name="guess">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>