<!doctype html>

<html>
<head>

    <title>Home page</title>
    </head>
    <style>
        .img_container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
            
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    </style>
    <body>
        <h1 style="text-align: center; margin-top: 75px;">Welcome to Campus Guesser!</h1>
        <div class="img_container">
            <img src="{{ map_url }}" alt="Campus Map", width=400px>
        </div>
        <div class ="button">
            <form action="/start_game">
                <button type="submit" >Start Game</button> 
            </form>
        </div>
    </body>

</html>