<!doctype html>

<html>
<head>

    <title>Home page</title>
    </head>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

    </style>
    <body>
        <div class="container">
            <h1>Welcome to Campus Guesser!</h1>
            <form action="/start_game">
                <img src="{{ map_url }}" alt="Campus Map", width=500px>
                <button type="submit">Start Game</button>
            </form>
        </div>
        
        
    </body>

</html>